@import '../../../../../App.variables.scss';
.card {
  max-width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-between;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .card {
    max-width: 100%;
  }
}
.card__stat {
  display: flex;
  justify-content: space-between;
}
.cards__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.cards__words {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.word__item {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}
.word__item-s {
  font-size: 1rem;
}
