@import '../../../../App.variables.scss';

.start-page__lvl-btn {
  margin: 0;
  height: 45px;
  width: 45px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #363271;
  border-radius: 50%;
  transition: all 0.2s ease-in;
  cursor: pointer;

  &:hover {
    color: #363271;
    background-color: #fff;
    border: 1px solid #363271;
  }

  @media screen and (max-width: 600px) {
    font-size: $subtitle-font * 1.25;
  }
}
