@import '../../App.variables.scss';

.Header {
  padding: 0;
  // background: $base-color;
  height: 50px;

  & > .container {
    display: flex;
    align-items: center;

    .username {
      color: #000;
    }

    .logo {
      flex-grow: 1;
      position: relative;
      text-decoration: none;
      color: #000;
      padding-left: 55px;
      font-size: 24px;
      line-height: 50px;
      margin-top: 10px;

      &::before {
        content: '';
        width: 45px;
        height: 45px;
        background: url('../../assets/img/logo.png') no-repeat;
        background-size: 45px;
        position: absolute;
        left: 0;
      }
    }

    .nav {
      display: flex;
      gap: 50px;
      margin-right: 50px;

      a {
        color: #000;
        text-decoration: none;
      }

      @media screen and (max-width: 560px) {
        gap: 20px;
      }
    }

    .nav span {
      color: #000;
      text-decoration: none;
      font-size: 24px;
      cursor: pointer;

      @media screen and (max-width: 560px) {
        font-size: 18px;
      }
    }

    .nav span:hover {
      text-decoration: underline;
    }
  }
}
