@import '../../../../App.variables.scss';

%gradient-btn {
  padding: 14px 30px;
  font: inherit;
  font-size: $subtitle-font;
  color: #fff;
  background-image: linear-gradient(
    to left,
    #363271 0%,
    #a6a4c0 41%,
    #363271 100%
  );
  background-size: 200% auto;
  background-position: 0 0;
  border-radius: 25px;
  transition: all 1s ease-in;

  &:hover {
    animation: gradient 0.9s infinite alternate;
  }

  @keyframes gradient {
    100% {
      background-position: 115% 0;
    }
  }
}

.return-btn {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  height: 55px;
  width: 55px;
  position: absolute;
  left: -20%;
  top: 5px;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #363271;
  border-radius: 50%;
  transition: all 0.2s ease-in;

  &:hover {
    color: #363271;
    background-color: #fff;
    border: 1px solid #363271;
  }

  @media screen and (max-width: 1200px) {
    left: -10%;
  }

  @media screen and (max-width: 900px) {
    left: -15%;
  }

  @media screen and (max-width: 600px) {
    top: 12%;
    left: 4%;
    height: 45px;
    width: 45px;
    font-size: 25px;
  }
}

.game {
  margin: 0 auto;
  padding: 40px 30px;
  max-width: 70%;
  position: relative;
  text-align: center;
  background-color: #fff;
  border: 1px solid $shadow-color;
  border-radius: 2%;
  box-shadow: 0px 5px 10px 2px $shadow-color;
  transition: all 0.4s ease-out;

  @media screen and (max-width: 1200px) {
    max-width: 80%;
  }

  @media screen and (max-width: 900px) {
    max-width: 70%;
  }

  @media screen and (max-width: 600px) {
    padding: 30px 10px;
    max-width: 90%;
  }

  .game__flex {
    margin-bottom: 50px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;

    @media screen and (max-width: 900px) {
      margin-bottom: 30px;
      height: initial;
    }

    @media screen and (max-width: 600px) {
      display: block;
    }
  }

  .game__progress {
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0;
    max-width: 500px;
    display: flex;
    justify-content: space-between;

    
    @media screen and (max-width: 600px) {
      max-width: initial;
      flex-wrap: wrap; 
      justify-content: center;
      gap: 6px;
    }

    & > li {
      display: block;
      height: 18px;
      width: 18px;
      background-color: rgba(0, 0, 0, .15);
      border-radius: 50%;
      transition: background-color .3s ease;

      @media screen and (max-width: 1200px) {
        height: 15px;
        width: 15px;
      }

      &.correct {
        background-color: rgb(0, 161, 0);
      }

      &.wrong {
        background-color: red;
      }

      &.unknown {
        background-color: #FFD700;
      }
    }
  }

  .game__choices {
    margin-bottom: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

    .choice {
      padding: 14px 30px;
      font: inherit;
      font-size: $subtitle-font;
      color: #fff;
      background-color: #5d5a92;
      border-radius: 25px;
      transform: scale(1);
      transition: all .6s ease-in;

      &:hover {
        animation: scale 0.7s infinite alternate;
      }

      @keyframes scale {
        100% {
          transform: scale(1.05);
        }
      }

      .choice-num {
        margin-right: 5px;
        font-size: $subtitle-font * 0.7;
        opacity: 0.7;
      }
    }

    .correct {
      font-weight: bold;
      background-color: green;
    }

    .wrong {
      font-weight: bold;
      background-color: red;
    }
  }

  .unknown-choice {
    @extend %gradient-btn;
    margin-left: 60%;
  }
}
